@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@layer components {
    .para-text {
        @apply text-[#654A55];
    }
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #FAFAFA;
}